<template>
    <div>


        <div class="card">
            <div class="card-header">Найти данные</div>
            <div class="card-body">
                <form v-on:submit="dataShow()">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="control-label">ID данных</label>
                            <input type="number" v-model="id" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <button class="btn btn-success" id="subs" v-if="!loading">Найти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <br>

        <table class="table table-bordered table-striped" v-if="table_seen">
            <thead>
            <tr>
                <th>key</th>
                <th>data</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="founded, index in foundData">
                <td> {{index}}</td>
                <td>{{ founded}}</td>
            </tr>
            </tbody>
        </table>

        <div>
            <div class="alert alert-danger" v-if="alert_seen">{{alert_div}}</div>
        </div>


    </div>
</template>

<script>


    export default {

        data() {
            return {
                id: null,
                foundData: [],
                loading: false,
                alert_div: ' ',
                alert_seen: false,
                table_seen: false,
            };
        },


        methods: {
            dataShow() {
                event.preventDefault();

                var app = this;

                app.test_value = 'нажал';

                var idFind = this.id;
                axios.get('api/data/' + idFind)
                    .then(function (response) {
                        //Получаем данные из базы
                        app.foundData = JSON.parse(response.data.data);
                        //Делает элемент с ошибкой невидимым
                        app.alert_seen = false;
                        app.table_seen = true;
                    }).catch(function (response) {
                    console.log(response.response.data);
                    //обнуляет таблицу
                    app.foundData = [];
                    //Делает элемент с ошибкой видимым
                    app.alert_seen = true;
                    app.table_seen = false;
                    //Выводит ошибку из middleware
                    app.alert_div = response.response.data.error;

                });
            }

        }


    }
</script>